<!-- Footer Section -->
<footer>
    <div class="div-contenedor">
        <div class="div-contenido">
            <section class="sectiondelfooter-1">
                <div class="divprincipal">
                    <div class="divdelprincipal-1">
                        <h5>contactanos en </h5>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="divdelprincipal-2">
                        <h5>encontranos en </h5>
                        <a href="https://www.instagram.com/cebramahomedeco/" target="_blank">instagram</a>
                        <a href="https://www.facebook.com/profile.php?id=100064641580999" target="_blank">facebook</a>
                    </div>
                </div>
        
            </section>
            <section class="sectiondelfooter-2">
                <div class="divconh5ydiv">
                    <h5>añada una alerta para nuevos productos :</h5>
                    <div class="searchbarfooter">
                        <label for="email"></label>
                        <input type="email" id="email" placeholder="email" class="emailbar">
                    </div>
                </div>
                <div class="aboutus-box">
                    <h5>sobre nosotros:</h5>
                    <p>
                        Nos destacamos por el diseño y la calidad en el servicio. <br> Buscamos la mejora continua en todas
                        nuestras áreas con el fin de brindar la mejor atención a <br> nuestros clientes, bajo la premisa de
                        ofrecer los mejores productos al mejor precio. Somos un equipo de <br> personas que trabajan día a
                        día para cumplir con la ardua tarea de distribución, diseño y abastecimiento <br> de artículos que
                        se adapten a las nuevas demandas del mercado, manteniendo la originalidad y <br> calidad de los
                        mismos.
                    </p>
                </div>
            </section>
        </div>
    </div>
  
</footer>