<!-- Header Section -->
<header class="header">
    <section class="header-section">
        <div class="div-contenedor">
            <div class="div-contenido align-items">
                <div class="div-logo">
                    <img src="/img/logo-cebrama.jpeg" class="logo">
                </div>
                <div class="div-form-header">
                    <form class="searchbar">
                        <label for="search"></label>
                        <input type="text" id="search" placeholder="buscar..." class="input">
                        <i class="fa-solid fa-magnifying-glass iforinput"></i>
                    </form>
                </div>

                <div class="div-ul-header">
                    <nav class="header-nav">
                        <ul>
                            <li><a href="./">home <i class="fa-solid fa-house"></i></a></li>
                            <li><a href="./login">inicio seción <i class="fa-solid fa-user"></i></a></li>
                            <li><a href="./register">registro <i class="fa-regular fa-chevron-down"></i></a></li>
                            <li><a href="./cart">carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


    </section>
</header>