<!-- Header Section -->
<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<header class="header">
    <section class="header-section">
        <div class="div-contenedor">
            <div class="div-contenido align-items">
                <div class="div-logo">
                    <img src="/img/logo-cebrama.jpeg" class="logo">
                </div>
                <nav class="main-searchbar">
                    <form action="/search" method="POST" class="searchbar" >
                    <input type="text" id="search" name="imputsearchnav" placeholder="Buscar productos, marcas..." class="input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </form>                    
                </nav>

                <div class="div-ul-header">
                    <nav class="header-nav">
                        <ul>
                            <% if (locals.isLogged) { %>
                                <li><a href="/">home <i class="fa-solid fa-house"></i></a></li>
                                <li><a href="#" id="button-cart"><span>0</span><i class="fa-solid fa-cart-shopping"></i></a></li>
                                <li class="dropdown">                                    
                                      <button onclick="myFunction()" class="dropbtn">Usuario <i class="fa-solid fa-user"></i></button>
                                      <div id="myDropdown" class="dropdown-content">
                                        <a href="/user/<%= locals.userLogged.id %>">Editar perfil</a>
                                        <a href="/logout" id="logout">Logout</a>
                                      </div>                                    
                                </li>                               
                            <%} else {%>
                            <li><a href="/">home <i class="fa-solid fa-house"></i></a></li>
                            <li><a href="/login">inicio seción <i class="fa-solid fa-user"></i></a></li>
                            <li><a href="/register">registro <i class="fa-regular fa-chevron-down"></i></a></li>
                            <%}%>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section>
      <div class="container" id="container">
        <h1>Carrito</h1>
        <div class="div-ul">
            <ul class="list">
                
            </ul>
        </div>
        <div class="total">
            <p class="total-p">
                
            </p>
            <button type="submit" id="button-buy">Comprar</button>
        </div>
    </div>
    </section>
    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
        </script>
</header>