<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleslogin.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/7b924e2171.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="box-articles">
            <img src="/img/lata.jpeg" alt="" class="articles">
            <img src="img/manopla.jpeg" alt="" class="articles">
            <img src="img/mateava.jpeg" alt="" class="articles">
        </section>
    </header>
    <main>
        <form action="/crear-producto" method="POST" class="create-form">
            <div class="control-form">
                <label>Ingresa tu usuario:</label>
                <input type="text" name="nombre" class="control"></input>
            </div>
            <div class="control-form">
                <label>Ingresa tu contraseña</label>
                <input type="text" name="precio" class="control"></input>
            </div>
            <button type="submit" class="button-login">Ingresar</button>
        </form>    
    </main>
     <footer>
        <section class="sectiondelfooter-1">
            <div class="divprincipal">
                <div class="divdelprincipal-1">
                    <h5>contactanos en :</h5>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="divdelprincipal-2">
                    <h5>encontranos en :</h5>
                    <a href="https://www.instagram.com/cebramahomedeco/" target="_blank">instagram</a>
                    <a href="https://www.facebook.com/profile.php?id=100064641580999" target="_blank">facebook</a>
                </div>
            </div>

        </section>
        <section class="sectiondelfooter-2">
            <div class="divconh5ydiv">
                <h5>añada una alerta para nuevos productos :</h5>
                <div class="searchbar">
                    <label for="email"></label>
                    <input type="text" id="email" placeholder="email" class="emailbar">
                </div>
            </div>
            <div class="aboutus-box">
                <h5>sobre nosotros:</h5>
                <p>
                    Nos destacamos por el diseño y la calidad en el servicio. <br> Buscamos la mejora continua en todas
                    nuestras áreas con el fin de brindar la mejor atención a <br> nuestros clientes, bajo la premisa de
                    ofrecer los mejores productos al mejor precio. Somos un equipo de <br> personas que trabajan día a
                    día para cumplir con la ardua tarea de distribución, diseño y abastecimiento <br> de artículos que
                    se adapten a las nuevas demandas del mercado, manteniendo la originalidad y <br> calidad de los
                    mismos.
                </p>
            </div>
        </section>
    </footer>
</body>
</html>