<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesregister.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/7b924e2171.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>registro</title>
</head>
<body>
    <footer>
        <section class="sectiondelfooter">
            <i class="fa-solid fa-user">  registrarse</i>
        </section>
    </footer>
    <main>
        <section>
            <h3>
                nombre de usuario :
            </h3>
            <div>
                <label for="usuario"></label>
                <input type="text" id="usuario" placeholder="ingrese usuario" class="input">
            </div>
        </section>
        <section>
            <h3>
                email:
            </h3>
            <div>
                <label for="email"></label>
                <input type="text" id="email" placeholder="ingrese su email" class="input">
            </div>
        </section>
        <section>
            <div>
                <h3>
                    contraseña :
                </h3>
                <div>
                    <label for="contraseña"></label>
                    <input type="text" id="contraseña" placeholder="ingrese una contraseña" class="input">
                </div>
            </div>
            <div>
                <h3>
                     repita contraseña :
                </h3>
                <div>
                    <label for="repetircontraseña"></label>
                    <input type="text" id="repetircontraseña" placeholder=" repita contraseña" class="input">
                </div>
            </div>
      
        </section>

        <section class="sectionconboton">
            <div class="divconboton">
                <a href="#"> continuar </a>
            </div>
            <div class="divpararevisar">
                <a href="#">revise su casilla de correo electronico para terminar con el registro</a>
            </div>
        </section>
        
    </main>
</body>
</html>