h1 {
    text-align: center;
}

.container {
    display: none;
    width: 50%;
    position: absolute;
    top: 150px;
    right: 0;
    z-index: 9999;
    padding: 10px;
    background-color: #FAE5D3;
    border: solid 1px grey;


}


.todo {
    display: flex;
}

.div-ul {
    text-align: center;
}

.div-ul ul {
    padding: 0px;
}

.div-ul ul li {
    list-style: none;
    margin-top: 15px;

}

.div-img {
    width: 50%;
    text-align: center;
}

.div-img img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}
.div-x3{
    width: 40%;
}

.div-length input {
    width: 42%;
}

.div-length button {
    background-color: #a6571a;
    border: none;
    font-size: 9px;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    width: 50%;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total button {
    background-color: #9B7E68;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    height: 4vh;
    transition: background-color 0.3s ease;
}

.total button:hover{
    background-color: green;
}

@media (min-width:1000px) {
    .div-img img {
        width: 50%;
        height: 200px;

    }

    .div-x3 {
        font-size: 30px;

    }

    .div-length input {
        font-size: 25px;
        width: 20%;
    }

    .div-length button {
        font-size: 25px;
    }

    .total p {
        font-size: 20px;
    }

    .total button {
        font-size: 20px;
    }
}