* {
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.header {
    background-color: #FAE5D3;
}

.align-items {
    align-items: center;
}

.div-contenedor {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.div-contenido {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.div-logo {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.div-form-header {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.div-ul-header {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


.logo {
    width: 100%;
    padding: 0px;
    border-radius: 400px;
}

.main-searchbar {
    flex-grow: 1;
    text-align: center;
}

.searchbar {
    display: block;
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    width: 90%;
    padding: 5px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0px 0px 7px rgb(105, 105, 105);
}

.input {
    width: 85%;
    background-color: #ebebeb;
    border: none;
}

.fa-magnifying-glass {
    font-size: 80%;
    text-align: center;
    background-color: #ebebeb;
    border-left: solid rgba(102, 102, 102, 0.4) 2px;
    margin: 0px;
    padding: 4px;
}

.iforinput {
    width: 10%;
    height: 2vh;
    padding: 1px;
    margin: auto;
    text-align: center;
    font-size: 9px;
    position: absolute;
    left: 85%;
    border-left: solid 1px rgba(128, 128, 128, 0.1);
}


.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.header-nav ul {
    list-style: none;
    margin: 5px;
    padding: 0%;
    display: flex;
}

span {
    display: block;
    font-size: 7px;
    color: white;
    background-color: rgb(255, 119, 0);
    text-align: center;
    border-radius: 50%;
}

.header-nav a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    font-size: 7px;
    margin: 0 1px;
    margin-right: 15px;
}

.burguermenuparacelus {
    margin: auto;
}

main {
    background-color: #F9EBEA;
    position: relative;
}

.div-todo {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.div-all {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}



.secctionconsearchnav {
    display: none;
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;


}

.secctionconsearchnav .headerdelsection {
    border: solid 1px #9B7E68;
    padding: 1px;
}

.secctionconsearchnav .divconnav {
    border: solid 1px #9B7E68;
}

.divconnav ul {
    list-style: none;
    text-align: center;
}

.divconnav a {
    text-decoration: none;
    color: #222222;
    margin: auto;
    font-size: 10px;
}

.divconnav button {
    background: none;
    border: none;
}

.burger-menu {
    width: 31px;
    margin: auto;
    text-align: center;
    font-size: 19px;
    border: solid 1px #423a34;
    background-color: #FAE5D3;
    border-radius: 10px;
    padding: 1px;
}

.sectionmainconcarrousel {
    display: inline-block;
    width: 100vw;
    padding-top: 10px;
}

.contain {
    margin-bottom: 30px;
    text-align: center;
    background-color: transparent;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.carr {
    width: 100%;
    text-align: center;
}

.grande {
    width: 100%;

}

.grande img {

    width: 94%;
    margin: auto;
    object-fit: contain;

}

#img2 {
    display: none;
}

#img3 {
    display: none;
}

.activo {
    color: orange;
}

.puntos {
    width: 100%;
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.punto {
    width: 2em;
    height: 1em;
    margin: 1em 1em 0;

}

.imgarticle {
    background-color: transparent;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}


.secctionsconarticles img {
    width: 20vw;
}

.secctionsconarticles {
    font-size: 10px;
    display: inline-grid;
    width: 100%;
}

.headerdelsectiondelmain {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}

.headerdelsectiondelmain h2 {
    font-size: 2.4em;
    transition: all 1000ms;
}

.headerdelsectiondelmain h2:hover {
    color: #9B7E68;
}

.space {
    justify-content: space-between;
}

.article-productos {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #FAE5D3;
    border: solid 1px;
    margin-bottom: 30px;
}

.infodetail {
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
}

.infodetail a {
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: center;
}


.imgarticle img {
    width: 100%;
    height: 35vh;
    object-fit: contain;
}

.divcontodaladescripcion {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-top: solid 1px #9B7E68;
    transition: all 1000ms;
}

.divcontodaladescripcion:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.divcontodaladescripcion h2 {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.div-precio-carrito {
    font-size: 2.4em;
    font-weight: 300;
    padding: 9px;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: 21px;
    justify-content: space-around;
}

.div-precio-carrito i {
    margin: 5px;
    color:rgb(109, 80, 255);
    transition: color 0.3s ease;
}

.div-precio-carrito i:hover {
   color:green;
}

.pid {
    display: none;
}


.masproductos {
    text-align: center;
}

.masproductos a {
    color: black;
}

footer {
    font-size: 7px;
    background-color: #9B7E68;
    display: flex;
}

.sectiondelfooter-1 {
    flex: 0 0 35%;
    max-width: 35%;
    width: 100%;
    margin-top: 13px;

}

.sectiondelfooter-2 {
    flex: 0 0 55%;
    max-width: 55%;
    width: 100%;
    margin-top: 13px;
    margin-left: 23px;
}

.searchbarfooter {
    margin-left: 10px;
    display: contents;
}

.divprincipal {
    display: flex;
}

.divprincipal .divdelprincipal-1 {
    margin-right: 13px;
}

.divdelprincipal-1 i {
    display: block;
    margin-top: 14px;
    text-align: center;
}

.divdelprincipal-2 a {
    display: block;
    margin-top: 12px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.divconh5ydiv {
    display: none;
    margin-bottom: 13px;
}

.divconh5ydiv .emailbar {
    width: 17vw;
    height: 3vh;
}

.buttonsubmit {
    height: 3vh;
}

.text-danger {
    color: red;
}

#fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px;
    font-size: 13px;
    border-radius: 37%;
    border: none;
    background-color: rgb(109, 80, 255);
    color: white;
    font-family: "American Typewriter";
    text-decoration: none;
    z-index: 9999;
    transition: background-color 0.3s ease;
    animation: pulse 1.5s infinite;
}


#fixed-button:hover {
    background-color: #457da0;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .jump-button {
    position: relative;
    animation: jump 0.5s infinite;
  }
  
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  

@media (min-width:600px) {
    .div-contenedor {
        max-width: 540px;
    }

    .div-todo {
        max-width: 540px;
    }

    .iforinput {
        padding: 3px;
        font-size: 14px;
        height: 20px;
    }

    .header-nav a {
        font-size: 13px;
    }

    .burguermenuparacelus {
        display: none;
    }

    .secctionconsearchnav {
        display: inline-block;
        font-size: 14px;
        margin-right: 5px;
    }

    .secctionconsearchnav nav {
        font-size: 22px;
    }

    .secctionconsearchnav a {
        font-size: 13px;
    }

    .sectionmainconcarrousel {

        position: relative;
        padding-top: 20px;
    }

    .article-productos {
        flex: 0 0 45%;
        max-width: 45%;
    }

    .imgarticle img {
        height: 13vh;
    }


    footer {
        font-size: 13px;
    }

    .divconh5ydiv {
        display: flex;
    }

}

@media (min-width:768px) {
    .div-contenedor {
        max-width: 720px;
    }

    .div-todo {
        max-width: 720px;
    }

    .imgarticle img {
        height: 13vh;
    }

    .grande img {
        width: 40%;
    }

    .punto {
        width: 6em;
        font-size: 23px;
    }
}

@media (min-width:1000px) {
    .div-logo {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .div-form-header {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .div-ul-header {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .div-contenedor {
        max-width: 960px;
    }

    .div-todo {
        max-width: 960px;
    }

    .logo {
        width: 100%;

    }

    .iforinput {
        font-size: 19px;
        padding: 4px;
        width: 3vw;
        height: 3vh;

    }

    .div-delheader {
        margin-right: 33px;
    }

    .header-nav a {
        font-size: 11px;
    }

    .secctionconsearchnav nav {
        font-size: 30px;
    }

    .secctionconsearchnav a {
        font-size: 20px;
    }


    .sectionmainconcarrousel {

        padding-top: 25px;
        margin-left: 10px;
    }


    .article-productos {
        flex: 0 0 25%;
        max-width: 25%;
        margin-left: 10px;
    }

    .space {
        justify-content: center;
    }

    footer {
        justify-content: center;
    }

}