<!-- Header Section -->
<header class="header">
    <section class="header-section">

        <img src="/img/logo-cebrama.jpeg" class="logo">
        <form class="searchbar">
            <label for="search"></label>
            <input type="text" id="search" placeholder="buscar..." class="input">
            <i class="fa-solid fa-magnifying-glass iforinput"></i>
        </form>
        <div class="div-delheader">
            <nav class="header-nav">
                <ul>
                    <li><a href="./">home<i class="fa-solid fa-house"></i></a></li>
                    <li><a href="./login.html">inicio seción <i class="fa-solid fa-user"></i></a></li>
                    <li><a href="./register.html">registro <i class="fa-regular fa-chevron-down"></i></a></li>
                    <li><a href="./cart.html">carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>

    </section>
</header>